//
   Created by wanglei on 2016/8/29.
extends header
block content
      artical
      div
         span='用户名:'
         input(type='text')
      div
         span='密码:'
         input(type='text')
      div
         button(type='submit')='登录'